[submodule "third_party/volk"]
	path = third_party/volk
	url = https://github.com/zeux/volk
[submodule "ThirdParty/glfw"]
	path = ThirdParty/glfw
	url = https://github.com/glfw/glfw
[submodule "ThirdParty/glm"]
	path = ThirdParty/glm
	url = https://github.com/g-truc/glm
[submodule "ThirdParty/ThirdParty/glslang"]
	path = ThirdParty/ThirdParty/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "ThirdParty/third_party/spdlog"]
	path = ThirdParty/third_party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ThirdParty/spdlog"]
	path = ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ThirdParty/glslang"]
	path = ThirdParty/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "ThirdParty/spirv-cross"]
	path = ThirdParty/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "ThirdParty/vma"]
	path = ThirdParty/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "ThirdParty/volk"]
	path = ThirdParty/volk
	url = https://github.com/zeux/volk
